[submodule "FlagGems"]
	path = FlagGems
	url = git@github.com:monellz/FlagGems.git
	branch = add_fused_moe
[submodule "FlagTree"]
	path = FlagTree
	url = git@github.com:monellz/FlagTree.git
	branch = add_fused_moe
[submodule "hpc-ops"]
	path = hpc-ops
	url = git@github.com:Tencent/hpc-ops.git
[submodule "sonic-moe"]
	path = sonic-moe
	url = git@github.com:monellz/sonic-moe.git
